### Un-pickle the data

In [1]:
import pickle

with open('homeless_data.pkl', 'rb') as f:
    data = pickle.load(f)

### Data exploration

In [2]:
data.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

### .pivot_table() method

In [3]:
data.pivot_table(values = 'state_pop',index = 'region')

                       state_pop
region
East North Central  9.377277e+06
East South Central  4.775371e+06
Mid-Atlantic        1.373910e+07
Mountain            3.063968e+06
New England         2.471554e+06
Pacific             1.066462e+07
South Atlantic      7.247736e+06
West North Central  3.050034e+06
West South Central  1.005958e+07

By default, pivot table calculates the mean.

In [6]:
import numpy as np
data.pivot_table(values='state_pop',index = 'region', aggfunc = [max, min, np.median, np.mean] )

                         max       min      median          mean
                   state_pop state_pop   state_pop     state_pop
region
East North Central  12723071   5807406   9984072.0  9.377277e+06
East South Central   6771631   2981020   4674417.0  4.775371e+06
Mid-Atlantic        19530351   8886025  12800922.0  1.373910e+07
Mountain             7158024    577601   2560041.0  3.063968e+06
New England          6882635    624358   1346261.0  2.471554e+06
Pacific             39461588    735139   4181886.0  1.066462e+07
South Atlantic      21244317    701547   6035802.0  7.247736e+06
West North Central   6121623    758080   2911359.0  3.050034e+06
West South Central  28628666   3009733   4299962.5  1.005958e+07

### Pivoting on 2 variables

In [10]:
data.pivot_table(values = 'state_pop', index = 'region', columns = 'state')

state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
region,,,,,,,,,,,,,,,,,,,,,
East North Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5807406.0,NaN
East South Central,4887681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6771631.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mid-Atlantic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mountain,NaN,NaN,7158024.0,NaN,NaN,5691287.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3153550.0,NaN,NaN,NaN,NaN,NaN,577601.0
New England,NaN,NaN,NaN,NaN,NaN,NaN,3571520.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,624358.0,NaN,NaN,NaN,NaN,NaN
Pacific,NaN,735139.0,NaN,NaN,39461588.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7523869.0,NaN,NaN,NaN
South Atlantic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,965479.0,701547.0,21244317.0,...,NaN,NaN,NaN,NaN,NaN,8501286.0,NaN,1804291.0,NaN,NaN
West North Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,878698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West South Central,NaN,NaN,NaN,3009733.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28628666.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.pivot_table(values = 'state_pop', index = 'region', columns = 'state', fill_value = 0) # fills missing values with 0

state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
region,,,,,,,,,,,,,,,,,,,,,
East North Central,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5807406,0
East South Central,4887681,0,0,0,0,0,0,0,0,0,...,0,6771631,0,0,0,0,0,0,0,0
Mid-Atlantic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mountain,0,0,7158024,0,0,5691287,0,0,0,0,...,0,0,0,3153550,0,0,0,0,0,577601
New England,0,0,0,0,0,0,3571520,0,0,0,...,0,0,0,0,624358,0,0,0,0,0
Pacific,0,735139,0,0,39461588,0,0,0,0,0,...,0,0,0,0,0,0,7523869,0,0,0
South Atlantic,0,0,0,0,0,0,0,965479,701547,21244317,...,0,0,0,0,0,8501286,0,1804291,0,0
West North Central,0,0,0,0,0,0,0,0,0,0,...,878698,0,0,0,0,0,0,0,0,0
West South Central,0,0,0,3009733,0,0,0,0,0,0,...,0,0,28628666,0,0,0,0,0,0,0

### Summing pivot tables

In [15]:
data.pivot_table(values = 'state_pop', index = 'region', columns = 'state', fill_value = 0, margins = True)
# gives the mean value of all the rows and columns

state,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,All
region,,,,,,,,,,,,,,,,,,,,,
East North Central,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5807406,0,9.377277e+06
East South Central,4887681,0,0,0,0,0,0,0,0,0,...,6771631,0,0,0,0,0,0,0,0,4.775371e+06
Mid-Atlantic,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.373910e+07
Mountain,0,0,7158024,0,0,5691287,0,0,0,0,...,0,0,3153550,0,0,0,0,0,577601,3.063968e+06
New England,0,0,0,0,0,0,3571520,0,0,0,...,0,0,0,624358,0,0,0,0,0,2.471554e+06
Pacific,0,735139,0,0,39461588,0,0,0,0,0,...,0,0,0,0,0,7523869,0,0,0,1.066462e+07
South Atlantic,0,0,0,0,0,0,0,965479,701547,21244317,...,0,0,0,0,8501286,0,1804291,0,0,7.247736e+06
West North Central,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.050034e+06
West South Central,0,0,0,3009733,0,0,0,0,0,0,...,0,28628666,0,0,0,0,0,0,0,1.005958e+07
All,4887681,735139,7158024,3009733,39461588,5691287,3571520,965479,701547,21244317,...,6771631,28628666,3153550,624358,8501286,7523869,1804291,5807406,577601,6.405637e+06